.content-body {
    display: flex;
    padding: 45px 20px 10px;
}




.content-right-login {
    padding: 50px;
    text-align: center;
    display: none;
}

.form-content-right-item:not(:last-child),
.form-item {
    margin-bottom: 20px;
}

.form-content-right-item label,
.form-item label {
    width: 100px;
}

.form-item input[type="email"] {
    border: 1px solid #ccc;
    padding: 5px;
}

.form-button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #0c6;
    color: #fff;
    padding: 10px 20px;
    width: 200px;
}

.content-left {}

.content-left-order {
    border: 1px solid #ccc;
}


.content-left-order-heading {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    align-items: center;
    border: 1px solid #ccc;

}

.content-left-order-title h6 {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
}

.content-left-order-heading a {
    color: #444;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 2px;
}

.content-left-order-heading a:hover {
    color: #0c6;
    text-decoration: none;
}

.p_star {
    color: red;
}

.content-left-order-footer {
    padding: 5px;
}

.content-left-order-footer__item {
    display: flex;
    justify-content: space-between;
}

.content-left-order-body {
    border: 1px solid #ccc;
}

.content-left-order-body-list {
    max-height: 130px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.content-left-order-body__item {
    display: flex;
    justify-content: space-between;
    padding: 15px 5px;
    border-bottom: 1px solid #ccc;
}

.content-left-order-body__item-link {
    display: block;
    color: #444;
    max-width: 200px;
}

.content-left-order-body__item-link:hover {
    text-decoration: none;
    color: #0c6;
}

.content-right-address {
    display: block;
    border: 1px solid #ccc;
}

.content-right-headding h5 {
    font-weight: bold;

}

.content-right-headding {
    background-color: #f2f2f2;
    padding: 10px;
}

.content-right {
    padding: 0;
}

#form-content-right {
    padding: 20px 20px 10px 20px;
}

.form-content-right__item-button {
    border: none;
    color: #fff;
    display: block;
    outline: none;
    background-color: #0c6;
    width: 200px;
    padding: 10px 0;
    margin-left: 100px;
    cursor: pointer;
}

.content-right-payment {
    display: none;
    border: 1px solid #ccc;

}

.content-right-payment .form-content-right__item-button {
    background-color: #ff0000;
    color: #fff;
    cursor: pointer;
}

#banking:checked~.text-note {
    display: block;
}

.text-note {
    display: none;
    padding-left: 20px;
}


.content-left-order-footer__text {
    padding: 10px 5px;

}

.content-left-order-footer__text:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.content-left-payment {
    display: none;
}