#new-book,
#published,
#seller {
    margin: 30px 0;
}

.book-content {
    position: relative;
    overflow: hidden;
}

/* heading */
.section-book-heading {
    background-color: var(--bg-1-color);
    margin: 20px 0;
    justify-content: space-between;
    align-items: center;
}

.section-book-heading__title {
    color: #fff;
    background-color: var(--main-color);
    text-transform: capitalize;
    font-size: 1.8rem;
    padding: 6px 15px;
    position: relative;
    font-weight: bold;
    text-decoration: none;
    display: block;
}

.section-book-heading__title span {
    position: absolute;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent transparent #0c6;
    top: 0;
    right: -40px;
}

.section-book-heading__title:hover {
    color: #fff;
    text-decoration: none;
}

.section-book-heading__show {
    float: right;
    color: var(--text-1-color);
    text-decoration: none;
    padding: 8px 20px;
    font-weight: bold;
    font-size: 1.6rem;
}

.section-book-heading__show:hover {
    color: var(--main-color);
    text-decoration: none;
}

/* product */

.product-list {
    transition: all 0.5s ease-out;
    /* padding: 10px; */
}

.product-list.product-wrap {
    flex-wrap: nowrap !important;
}

.product-category {
    flex-wrap: wrap;
}

.product-item {
    padding: 10px;
}

.product-item-wrapper a {
    display: block;
    text-decoration: none;
}

.product-item-wrapper__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
}

.product-item-wrapper__sale {
    position: absolute;
    top: -1px;
    right: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    color: #fff;
}

.product-item-wrapper__details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-item-wrapper__title {}

.product-item-wrapper__link {
    display: block;
    color: var(--a-color);
    font-size: 1.3rem;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-item-wrapper__link:hover {
    text-decoration: none;
    color: var(--main-color);
}

.product-item-wrapper__subtitle {}

.product-item-wrapper__subtitle a {
    font-size: 1.3rem;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
}

.product-item-wrapper__subtitle a:hover {
    color: var(--main-color);
}


.product-item-wrapper__prices {
    font-size: 1.3rem;
    font-weight: bold;
}

.product-arrow-left,
.product-arrow-right {
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
}

.product-arrow-right {
    right: 0;
}

#book-category .product-item-wrapper__title a {
    text-align: center;
    font-weight: bold;
}

/* about */
#section-about {
    margin: 85px 0;
}

.about-content {
    font-size: 1.4rem;
}

.about-content h5 {
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.about-content p {
    font-size: 1.4rem;
    line-height: 2.8;
}

.about-content a {
    color: var(--a-color);
    font-weight: bold;
}

.about-content a:hover {
    text-decoration: none;
    color: var(--main-color);
}