/* Breadcrumb begin */
.breadcrumb {
    background-color: #fff;
}

.breadcrumb__list {
    padding: 0 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.breadcrumb__item {
    color: #999999;
    font-size: 13px;
    float: left;
    padding: 0 5 px 0 0;
    position: relative;
    z-index: 8;
    margin-top: 5 px;
    white-space: nowrap;
}

.breadcrumb__item--link {
    font-size: 14px;
    margin: 0px 2px;
    color: #00cc66;
    padding: 0 10px 0 0;
    text-decoration: none;
    background-image: url(../images/orange-arrow-r.png);
    background-repeat: no-repeat;
    background-position: right;
}

.breadcrumb__item--link:hover {
    text-decoration: none;

}


/*  Breadcrumb end  */

/* Body begin */

.body {}

.body__bg {
    text-align: center;
}

.body__bg__img {
    width: 80%;
}

.body__detail {}

.body__detail__name {
    margin: 0;
    padding: 0 0 10 px 0;
    text-transform: capitalize;
    color: #333;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
}

.body__detail__groups {
    display: flex;
    margin-top: 15px;
}

.body__detail__author {
    font-size: 14px;
    width: 30%;
    margin-right: 30px;
}

.body__detail__author__link {
    color: #00b468;
    font-weight: bold;
}

.body__detail__author__link:hover {
    color: #00b468;
}

.body__detail__publisher {
    font-size: 14px;
    width: 30%;
}

.body__detail__publisher__link {
    color: #00b468;
    font-weight: bold;

}

.body__detail__publisher__link:hover {
    color: #00b468;
}

.body__detail__action {
    display: flex;
    margin-top: 15px;
}

.body__detail__action__link {
    color: #444;
    width: 30%;
    text-decoration: none;
    margin-right: 30px;
    cursor: pointer;
}

.body__detail__action__link:hover {
    color: #00cc66;
    text-decoration: none;
}

.body__detail__prices {
    display: flex;
    align-items: flex-end;
}

.body__detail__main-price {
    font-weight: bold;
    font-size: 30px;
    color: #00cc66;
    line-height: 40px;
    width: 20%;
}

.body__detail__sub-price {
    font-size: 13px;
    color: #333;
    font-weight: normal;

}

.body__detail__save-price {
    width: 40%;
    font-size: 13px;
    line-height: 40px;
}

.body__detail__prices__btn {
    background-color: #ff3300;
    padding: 10px 45px;
    font-size: 20px;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    line-height: 20px;
    width: 25%;
    align-self: center;
    justify-content: center;

}

.body__detail__prices__btn:hover {
    color: #fff;
    background-color: #e02d01;
    text-decoration: none;
}

.body__detail__contents {}

.body__detail__contents__paragraph {
    font-size: 14px;
}

.body__detail__contents__paragraph span {
    color: #00cc66;
    font-weight: bold;
}

.body__description {}

.body__description__title {
    text-transform: capitalize;
    color: #333;
    font-size: 19px;
    font-weight: normal;
    padding-bottom: 5px;
    margin-bottom: 15px;
    color: #444;
    margin-top: 15px;
    border-bottom: 1px solid #e7e7e7;
}

.body__description__name {
    color: #ff0000;
    font-size: 16px;
    font-weight: bold;
}

.body__description__paragraph {}

.body__information {}

.body__information__title {
    text-transform: capitalize;
    color: #333;
    font-size: 19px;
    font-weight: normal;
    padding-bottom: 5px;
    margin-bottom: 15px;
    color: #444;
    margin-top: 15px;
    border-bottom: 1px solid #e7e7e7;
}

.body__information__list {}

.body__information__item:nth-child(odd) {
    display: flex;
    background-color: #fff;
    border: 1px solid #ddd;
}

.body__information__item:nth-child(even) {
    display: flex;
    background-color: #f2f2f2;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

}

.body__information__item__title {
    padding: 10px 10px;
    width: 25%;
    border-right: 1px solid #ddd;
}

.body__information__list__content {
    padding: 10px 10px;
    width: 75%;
}

.body__information__list__content--link {
    color: #00cc66;
    cursor: pointer;
}

.body__information__btn {
    width: 50%;
    display: block;
    margin: auto;
    background-color: #ff3300;
    padding: 10px 0px;
    font-size: 20px;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    margin-top: 20px;
}

.body__other {}

.body__other__title {
    text-transform: capitalize;
    color: #333;
    font-size: 19px;
    font-weight: normal;
    padding-bottom: 5px;
    margin-bottom: 15px;
    color: #444;
    margin-top: 15px;
    border-bottom: 1px solid #e7e7e7;
}

.body__other__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.body__other__item {
    width: 16.666%;
    background: #FFFFFF;
    padding: 0 20px;
    position: relative;
}

.body__other__item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

.body__other__item__detail {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.body__other__item__name {
    color: #444444;
    margin: 5px 0px;
    text-transform: capitalize;
    line-height:20px;
    font-size: 13px;
}
.body__other__item__name:hover {
    text-decoration: none;
    color:#00cc66;
}

.body__other__item__author {
    font-size: 13px;
    color: #444;
    margin: 5px 0px;
    text-decoration: none;
    cursor: pointer;
}
.body__other__item__author:hover {
    color:#00cc66;
    text-decoration: none;
}

.body__other__item__price {
    margin: 5px 0px;
}

.body__other__item__price--new {
    color: #444444;
    font-weight: bold;
    font-size: 14px;
}

.body__other__item__price {
    
}

.body__other__item__price--old {
    color: #999999;
    text-decoration: line-through;
    font-size: 11px !important;
}

/* Body end */