#header {
    background-color: #0c6;
}

.header-wrapper {
    display: flex;
}

.header-right {
    display: flex;
    align-items: center;
    height: 55px;
}

.header-input__text {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
}


.header-submit input[type="submit"] {
    height: 30px;
    color: #0c6;
    background-color: #f2f2f2;
    border: none;
    outline: none;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
}

.header-shoptool {}

.shoptool-list {
    display: flex;
    list-style: none;
    margin: 0;
    justify-content: flex-end;
    margin-right: 20px;
}

.shoptool-text {
    color: #f2f2f2;
    display: flex;
    margin-right: 20px;
    cursor: pointer;
}

.shoptool-text a {
    color: #f2f2f2;
}

.shoptool-text a:hover {
    text-decoration: none;
}

.shoptool-text i {
    margin-left: 5px;
}

.shoptool-text__subcontent {
    color: #f2f2f2;

}


#header-bottom {
    background-color: #f2f2f2;
}

.header-bottom__left {
    float: left;
    height: 30px;
    background-color: #fff;
    padding: 5px;
    width: 210px;
    cursor: default;
}

.header-bottom__left-title {
    color: #595959;
    margin-left: 5px;
    font-weight: 600;

}

.header-bottom__right {
    float: right;
    height: 30px;
    padding: 5px;
    margin-right: 65px;
}

.header-bottom__right-span,
.header-bottom__right i {
    color: #0c6;
}

.header-bottom__right span {
    font-weight: bold;
}

.header-bottom__left:hover .menu-list {
    display: block;
}

/* submenu */
.menu {}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
    min-height: 300px;
    position: relative;
    display: none;
    background-color: #fff;
    z-index: 10;
}

.menu-item {
    transition: padding-left 0.3s
}

.menu-item__link {
    display: block;
    padding: 10px;
    color: #444;
}

.menu-item__link:hover {
    text-decoration: none;
    color: #fff;
}

.menu-item:hover .submenu {
    display: block;
}

.submenu::after {
    content: "";
    position: absolute;
    background-color: #0c6;
    width: 5px;
    top: 0;
    left: 0;
    height: 100%;
}

.submenu {
    position: absolute;
    top: 0;
    left: 200px;
    list-style: none;
    background-color: #f2f2f2;
    height: 100%;
    width: 210px;
    display: none;
    z-index: 2;
}

.menu-item:hover {
    background-color: #0c6;
    padding-left: 15px;
    color: #fff;
    cursor: pointer;
}

.submenu-item a {
    color: #000;
    display: block;
    padding: 8px;
}

.submenu-item a:hover {
    text-decoration: none;
    color: #0c6;
}

/* breadcrumb */

.breadcrumb {
    background-color: #fff;
}

.breadcrumb-home {
    color: #0c6 !important;
    position: relative;
}

.breadcrumb-home:hover {
    color: #0c6;
}

.breadcrumb-category {
    color: #999;
    position: relative;
    margin-left: 10px;
}

.breadcrumb-category::before {
    content: "/";
    left: -10px;
    top: -2px;
    position: absolute;
    color: #999;

}