/* Mobile & tablet */
@media (max-width:1023px) {
    .hide-on-mobile-tablet {
        display: none !important;
    }

    .content {
        margin-left: 16.6777%;
    }

    .header-left {
        display: flex;
        height: 50px;
        justify-content: center;
        align-items: center;
    }

    .header-wrapper {
        align-items: center;
    }

    .header-logo {
        height: 40px;
        text-align: center;
    }

    .header-img {
        height: 35px;
        width: 220px;
    }

    .shoptool-mobile-tablet {
        display: flex;
        justify-content: space-evenly;
        color: #fff;
    }


    .shoptool-mobile-tablet i {
        font-size: 16px;
    }

    .header-cart-mobile-tablet {
        position: relative;
    }

    .header-cart-mobile-tablet::before {
        content: "";
        /* margin: 0 5px; */
        position: absolute;
        top: 0;
        left: -12px;
        height: 20px;
        width: 2px;
        background-color: rgba(255, 255, 255, 0.3);
    }

    .header-menubar {
        color: #fff;
        font-size: 30px;
    }



    .footer-list {
        flex-wrap: wrap;
    }

    .footer-item {
        margin-bottom: 30px;
    }

    .copyright-text {
        margin: 0;
    }
}


/* Mobile */
@media (max-width:739px) {
    .hide-on-mobile {
        display: none;
    }
    #app{
        margin-right: -40px;
    }

    .form-item input{
        display: block;
    }
    .form-item input[type="submit"]{
        display: inline-block;
    }

    .form-item:last-child label{
        width: 0;
    }

    .shoptool-mobile-tablet{
        width: 50%!important;
    }

    .header-img{
        width: 100px;
    }
    .header-menubar{
        width: 30px;
    }
}


/* Tablet */
@media (min-width:740px) and(max-width:1023px) {
    .hide-on-tablet {
        display: none;
    }
   
}


/* Pc */
@media (min-width: 1024px) {
    .hide-on-pc {
        display: none;
    }
}