#slider {}

.slider-container {
    display: flex;
}

.slider-wrapper {
    margin-left: 20%;
}

.slider-wrapper-box {
    position: relative;

}

.slider-viewport {}

.slider-viewport__list {
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    width: 900px;
}

.slider-viewport__item {
    width: 100%;
}

.slider-viewport__link {
    text-decoration: none;
    display: block;

}

.slider-viewport__img {
    width: 900px;
    height: 350px;
}

.slider-radio-control {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.slider-radio {
    height: 20px;
    width: 20px;
    display: inline-block;
    background-color: #d9d9d9;
    border-radius: 50%;
    cursor: pointer;
}

.slider-radio+.slider-radio {
    margin-left: 10px;
}

.slider-radio.active {
    background-color: #0c6;
}

.slider-arrow {}

.slider-arrow-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 10px;
}

.slider-arrow-right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 10px;
}

.carousel-indicators li{
    width: 20px;
    height: 20px;
    border-radius: 50% ;
    background-color: rgba(255, 255, 255, 0.4);
}

.carousel-indicators li.active{            
    background-color: #0c6;
}
