#slider {}

.slider-container {
    display: flex;
}

.sidebar {
    z-index: 2;
}

.sidebar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
    min-height: 300px;
    position: relative;
}

.sidebar-item {
    transition: padding-left 0.3s
}

.sidebar-item__link {
    display: block;
    padding: 10px;
    color: #444;
}

.sidebar-item__link:hover {
    text-decoration: none;
    color: #fff;
}

.sidebar-item:hover .sidebar__submenu {
    display: block;
}

.sidebar__submenu::after {
    content: "";
    position: absolute;
    background-color: #0c6;
    width: 5px;
    top: 0;
    left: 0;
    height: 100%;
}


.sidebar__submenu {
    position: absolute;
    top: 0;
    left: 200px;
    list-style: none;
    background-color: #f2f2f2;
    height: 100%;
    width: 210px;
    display: none;
    z-index: 2;
}

.sidebar-item:hover {
    background-color: #0c6;
    padding-left: 15px;
    color: #fff;
    cursor: pointer;
}

.submenu-item a {
    color: #000;
    display: block;
    padding: 8px;
}

.submenu-item a:hover {
    text-decoration: none;
    color: #0c6;
}

.slider-wrapper {
    padding-top: 10px;
}

.slider-wrapper-box {
    position: relative;

}

.slider-viewport {}

.slider-viewport__list {
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
}

.slider-viewport__item {
    width: 100%;
}

.slider-viewport__link {
    text-decoration: none;
    display: block;

}

.slider-viewport__img {
    width: 100%;
    height: 350px;
}

.slider-radio-control {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.slider-radio {
    height: 20px;
    width: 20px;
    display: inline-block;
    background-color: #d9d9d9;
    border-radius: 50%;
    cursor: pointer;
}

.slider-radio+.slider-radio {
    margin-left: 10px;
}

.slider-radio.active {
    background-color: #0c6;
}